.container {
  background-color: lightgray;
  position: relative;
  width: 300px;
  margin: 10px;
  padding: 10px;
}

p, h2 {
  margin: 5px;
}

#relative-p {
  position: relative;
  top: 40px;
  left: 40px;
}

#absolute-p {
  position: absolute;
  top: 40px;
  left: 40px;
}

#static-p, #relative-p, #absolute-p{
  background-color: lightblue;
}
