$text-size :14px;
$text-color :#555;
$border-color : #808080;

.image-caption {
    font-family: Arial, Helvetica, sans-serif;
    font-size: $text-size;
    color: $text-color;
    margin-top: 5px;
    margin-left: 5px;
    padding-left: 5px;
    border-left: 2px solid $border-color;
}