.demo {
    display: flex;
  }
  
  .controls {
    display: flex;
    flex-direction: column;
  }
  
  #container {
    position: relative;
    width: 200px;
    height: 100px;
    overflow-x: scroll;
    border: 1px solid black;
  }
  
  #marginIndicator {
    position: relative;
    height: 100px;
    background-color: blue;
    opacity: 0.5;
  }
  
  #elem {
    background-color: red;
    width: 100px;
    height: 100px;
    position: absolute;
    left: 200px;
  }
  
  #gutter {
    width: 500px;
    height: 100px;
  }
  