.item {
    border: 6px solid red;
    background-color: pink;
    padding: 3px;
}

.container {
    border: 1px solid rgb(25, 0, 255);
    display: grid;
    height: 600px;
    /* grid-auto-flow: column; */
    grid-template-columns: repeat(4,100px) ;
    /* grid-template-rows: repeat(2,100px) ; */
    /* grid-template-rows: 1fr; */
    /* justify-items: end; */
    /* align-items: center; */
    justify-content: center;
    align-content: center;
}


.item-1 {
    /* justify-self: end; */
}

.item-2 {
    /* justify-self: start; */
}

.item-3 {
} 

.item-4 {
} 