main{
display: flex;
justify-content: center;
flex-direction: column;
align-items: center;
}

#board{
    display: grid;
    grid-template-columns: repeat(3,100px);
    grid-template-rows: repeat(3,100px);
}

.cell{
    background-color: yellow;
    border: 1px solid ;
    display: flex;
    justify-content: center;
    align-items: center;
}