.item {
    border: 6px solid red;
    background-color: pink;
    padding: 3px;
}

.container {
    border: 1px solid rgb(25, 0, 255);
    display: grid;
    height: 600px;
    grid-template-rows: repeat(4,100px);
    grid-template-columns: repeat(auto-fit,minmax(100px,1fr));
}

.item-1 {
    /* justify-self: end; */
}

.item-2 {
    /* justify-self: start; */
}

.item-3 {
} 

.item-4 {
} 